<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>We're having problems with the page!</h1>
    <p>Please be patient, we're working on the solution. </p>
    <p>Thanks a lot!</p>

<%- include('includes/end.ejs') %>