<main>
	<form class="product-form" action="/admin/add-product" method="POST">
		<div class="form-control">
			<label for="title">Add Product</label>
			<input type="text" id="title" name="title" />
			<button type="submit">Add Product</button>
		</div>
	</form>
</main>