<main>
{{#if hasProducts}}
   <h1>My Products</h1>
   <div class="grid">
      {{#each prods }}
         <article class=" card product-item">
            <header class="card__header">
               <h1 class="product__title">{{this.title}}</h1>
               <div class="card__image">
                  <img src="https://www.hola.com/imagenes/estar-bien/20191004150785/pastor-aleman-raza-de-perro-caracteristicas/0-728-57/raza-de-perro-pastor-aleman-m.jpg", alt="Perrete"/>
               </div>
               <div class="card__content">
                  <h2 class="product__price">199.99</h2>
                  <p class="product__description">
                     A very interesting book about so many even more interesting things!
                  </p>
               </div>
               <div class="card__actions">
                  <button class="btn">Add to Cart</button>
               </div>
            </header>
         </article>
      {{/each}}
   </div>
{{else}}
      <h1>No products</h1>
{{/if}}
</main>